<div class="container home-page-container">
    <ul class="timeline">
        <li>
            <div class="timeline-badge">
              <a><i class="icon ion-record" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>'Tips' Application Publish</h4>
                </div>
                <div class="timeline-body">
                    <p>Publish iOS application 'Tips'.</p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">Nov-14-2015</p>
                </div>
            </div>
        </li>
    
        <li class="timeline-inverted">
            <div class="timeline-badge">
                <a><i class="icon ion-record invert" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>Album Basic Features</h4>
                </div>
                <div class="timeline-body">
                    <p>Finish all basic features for Album, including upload, download, multiselect, context menu, location info etc. </p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">Nov-07-2015</p>
                </div>
            </div>
        </li>

        <li>
            <div class="timeline-badge">
                <a><i class="icon ion-record invert" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>Birth</h4>
                </div>
                <div class="timeline-body">
                    <p>This site comes online.</p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">Sep-18-2015</p>
                </div>
            </div>
        </li>

        <li class="clearfix no-float"></li>
    </ul>
</div>
