<div class="container home-page-container">
    <h3 id="homepageTitle">
        ABOUT
    </h3>
    <ul class="timeline">
        <li>
            <div class="timeline-badge">
              <a><i class="icon ion-record" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>New Homepage</h4>
                </div>
                <div class="timeline-body">
                    <p>Redesign the homepage UI.</p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">Dec-18-2016</p>
                </div>
            </div>
        </li>

        <li class="timeline-inverted">
            <div class="timeline-badge">
              <a><i class="icon ion-record" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>Add Rain Sound Player</h4>
                </div>
                <div class="timeline-body">
                    <p>Serve popular rain sound traks.</p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">Aug-6-2016</p>
                </div>
            </div>
        </li>

        <li>
            <div class="timeline-badge">
              <a><i class="icon ion-record" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>Migrate to Https</h4>
                </div>
                <div class="timeline-body">
                    <p>Due to new restricts of Google api, migrate to use https.</p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">Aug-4-2016</p>
                </div>
            </div>
        </li>

        <li class="timeline-inverted">
            <div class="timeline-badge">
              <a><i class="icon ion-record" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>'Day' Site</h4>
                </div>
                <div class="timeline-body">
                    <p>Start working on 'Day'. Serves as a testbed for Polymer.</p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">Feb-27-2016</p>
                </div>
            </div>
        </li>

        <li>
            <div class="timeline-badge">
              <a><i class="icon ion-record" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>'Tips' Application</h4>
                </div>
                <div class="timeline-body">
                    <p>Publish iOS application 'Tips'.</p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">Nov-14-2015</p>
                </div>
            </div>
        </li>

        <li class="timeline-inverted">
            <div class="timeline-badge">
                <a><i class="icon ion-record invert" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>Album Basic Features</h4>
                </div>
                <div class="timeline-body">
                    <p>Finish all basic features for Album, including upload, download, multiselect, context menu, location info etc. </p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">Nov-07-2015</p>
                </div>
            </div>
        </li>

        <li>
            <div class="timeline-badge">
                <a><i class="icon ion-record invert" id=""></i></a>
            </div>
            <div class="timeline-panel">
                <div class="timeline-heading">
                    <h4>Online</h4>
                </div>
                <div class="timeline-body">
                    <p>This site comes online. The original site was served on Godaddy, and it was merely a staic page. Now it lives on Openshift.</p>
                </div>
                <div class="timeline-footer">
                    <p class="text-right">Sep-18-2015</p>
                </div>
            </div>
        </li>

        <li class="clearfix no-float"></li>
    </ul>
</div>
