.album-header {
    position: fixed !important;
    width: 100%;
    z-index: 10;
}
.container {
    padding-top: 80px;
}
.container-hide {
    overflow: hidden;
}

.input-checkbox {
    position: relative;
    overflow: hidden;
    height: 30px;
    margin-bottom: -8px;
}
.input-checkbox span{
    font-size: 24px;
}
.input-checkbox input[type=checkbox] {
    position: absolute;
    top: 0;
    right: 0;
    width: 100%;
    height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: pointer;
    display: block;
}

.context-menu {
    position: absolute !important;
    min-width: 160px;
    border-radius: 3px;
    white-space: none;
    z-index: 100;
    background-color: white;
}
.context-menu .dropdown-menu li > a:hover {
    background-image: none;
    background-color: rgba(229, 243, 247, 0.5);
}

/* Upload Dialog*/
.upload-content .btn-file {
    position: relative;
    overflow: hidden;
}
.upload-content .btn-file input[type=file] {
    position: absolute;
    top: 0;
    right: 0;
    min-width: 100%;
    min-height: 100%;
    font-size: 100px;
    text-align: right;
    filter: alpha(opacity=0);
    opacity: 0;
    outline: none;
    background: white;
    cursor: inherit;
    display: block;
}
.upload-content input[readonly] {
  background-color: white !important;
  cursor: text !important;
}
.upload-content .table {
    margin-top: 16px;
} 

.action-button > a {
    padding: 12px !important;
    font-size: 24px;
}

/* Detail Dialog */
.photo-canvas {
    position: relative;
    padding: 8px;
    margin-right: 8px;
    margin-left: 8px;
}
.photo-canvas-image {
    cursor: zoom-in;
}
.photo-date-container {
    position: absolute;
    top: 208px;
    right: 8px;
    width: 100%;
    max-width: calc(100% - 16px);
    padding-right: 8px;
    text-align: right;
    line-height: 24px;
    color: #fff;
}
.photo-date-backlay {
    position: absolute;
    bottom: 0;
    right: 0;
    height: 24px;
    width: 100%;
    padding-right: 8px;
    padding-bottom: 8px;
    background: rgba(0,0,0,0.6);
    background: -webkit-gradient(linear, left top, left bottom, from(transparent), to(rgba(0,0,0,0.6)));
    background: -moz-linear-gradient(top, transparent, rgba(0,0,0,0.6));
    text-shadow: #000 0 1px 1px;
    -webkit-transition: all 0.05s ease-in 0s;
    transition: all 0.05s ease-in 0s;
}
.detail-table table {
    margin-bottom: 0 !important;
}
.detail-table td {
    border-top: none !important;
}
.detail-close {
    -webkit-transform: translateZ(0);
    padding-top: 8px;
    position: fixed;
    top: 0;
    right: 32px;
    z-index: 652;
    border: 0;
    margin: 0;
    font-size: 24px;
    color: grey;
    background-color: #f5f5f5;
    background: -webkit-gradient(linear, left top, left bottom, from(#fff), to(#ebebeb));
    background: -webkit-linear-gradient(#fff, #ebebeb);
    background: linear-gradient(#fff, #ebebeb);
    border-radius: 0 0 6px 6px;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,0.34),1px 0 0 rgba(255,255,255,0.9) inset;
    box-shadow: 0 1px 4px rgba(0,0,0,0.34),1px 0 0 rgba(255,255,255,0.9) inset;
    cursor: pointer;
    height: 44px;
    width: 44px;
    outline: none;
}
.detail-close:focus,
.detail-close:hover,
.detail-close:active {
    background: none;
    background-color: #e6e6e6;
    border-color: #adadad;
}
.detail-photo {
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 16px;
}
.detail-photo-canvas {
    margin: auto;
    width: 100%;
    text-align: center;
}
.image-loader {
    padding-top: 100px;
    padding-bottom: 100px;
}

/* Map Style */
.detail-map {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
    margin-bottom: 16px;
}
.map-address {
    padding-bottom: 8px;
    cursor: pointer;
}
.more-icon {
    margin-left: 8px;
}
.map-container {
    width: 100%;
    height: 400px;
}
.map-canvas {
    width: 100%;
    height: 100%;
}
/* Comment Style */
.detail-comment-list {
    position: relative;
    background: #fff;
    padding: 20px;
    border-radius: 6px;
}
.detail-comment-list input {
    max-width: calc(100% - 64px);
}
.detail-comment-list .detail-comment:first-child {
    border-top: none;
}
.detail-comment {
    position: relative;
    padding-left: 8px;
    padding-bottom: 8px;
    border-top: 1px solid #e7e7e7;
}
.comment-user {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12pt;
    font-weight: 500;
}
.comment-text {
    font-size: 11pt;
}
.comment-date {
    font-size: 10pt;
    color: lightgray;
}
.comment-delete {
    position: absolute;
    top: 8px;
    right: 0;
    font-size: 20px;
    cursor: pointer;
    color: rgba(0, 0, 0, 0.3);
}
.button-post {
    position: absolute;
    right: 16px;
    bottom: 20px;
}


/* Delete Dialog */
.deleteDialogController .ng-modal-dialog {
    height: inherit;
}

.deleteDialogController .delete-content {
    font-size: 20px;
}

/* Download Dialog */
.downloadDialogController .ng-modal-dialog {
    height: inherit;
    min-height: initial;
}
.downloadDialogController .download-content {
    font-size: 18px;
}
.downloadDialogController .progress {
    height: 32px;
}
.downloadDialogController .progress-bar {
    font-size: 18px;
    line-height: 32px;
}
