.login-container {
    margin-left: 50%; 
    margin-top: 25px; 
    position:absolute;
}

.login-block {
    position: absolute;    
    transition: all 1s;    
    width: 400px;    
    left: -200px;
    padding: 30px 30px 20px 30px;
}

@media (max-width: 700px) {
    .login-block {
        width: 350px;    
        left: -175px;
    }
}

.login-block input {
    width: 100%;
}

.login-block .text {
    padding-top: 8px;
    white-space: nowrap;
}

.login-block .login-button {
    margin-top: 24px;
}

.link-pane {
    position: relative;
    text-align: center;
    font-size: 16px;
}
.divider {
    width: 100%;
    height: 30px;
    margin-top: 16px;
}
.divider-line {
    position: absolute;
    top: 12px;
    width: 100%;
    border-top: 1px solid #ddd;
}
.divider-text {
    position: relative;
    display: inline-block;
    width: 50px;
    background-color: #fff;
    font-size: 14px;
}
