.login-container {
    margin-left: 50%; 
    margin-top: 25px; 
    position:absolute;
}

.login-block {
    position: absolute;    
    transition: all 1s;    
    width: 450px;    
    left: -225px;
    padding: 30px 50px 20px 50px;
}

@media (max-width: 700px) {
    .login-block {
        width: 350px;    
        left: -175px;
    }
}

.login-block input {
    width: 100%;
}

.login-block .text {
    padding-top: 8px;
    white-space: nowrap;
}

.login-block .login-button {
    margin-top: 24px;
}
