.main-container {
    position: absolute;
    overflow-y: auto;
    top: 52px;
    padding-top: 30px;
    padding-bottom: 40px;
    width: 100%;
    height: 100%;
}
.todo-header-panel .panel-heading{
    text-align: center;
    font-size: 24px;
}
.label {
    margin-left: 16px;
    padding: 0px 12px 0px !important;
    font-size: 100% !important;
}

.button-group {
    position: absolute;
    right: 8px;
    top: 10px;
}
.manage-button-group {
    position: absolute;
    right: 8px;
    top: 4px;
}

.list-group-item {
    height: 100%;
    padding-right: 100px !important;
    padding-left: 25px !important;
}
.list-group-item:hover {
    background-color: rgba(229, 243, 247, 0.5);
}
.list-group-item:before {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
    z-index: 5;
}
.low-priority:before {
    background-color: #78cd51;
}
.medium-priority:before {
    background-color: #fabb3d;
}
.high-priority:before {
    background-color: #ff4136;
}
.todo-selected {
    background-color:#e2f3f7 !important;
}

.todo-content {
    line-height: 26px;
    cursor: pointer;
}
.todo-content .badge {
    margin-left: 8px;
}
.todo-text {
    font-size: 14pt;
}
.todo-date {
    position: relative;
    font-size: 10pt;
    font-weight: 400;
    color: lightgray;
}
.todo-progress-bar {
    content: "";
    display: block;
    position: absolute;
    border: 1px solid;
}
.todo-advanced-option {
    display: inline-block;
    width: 100%;
}
.todo-btn-group {
    /*display: block !important;*/
    margin-top: 8px;
}
.todo-btn-group .btn {
    width: 80px;
    height: 24px;
    font-weight: 300;
    padding: 1px 12px;
}
.todo-btn-group .btn:active {
    -webkit-box-shadow: none;
    box-shadow: none;
}
.todo-btn-group .btn-primary.active {
    background-color: #337ab7;
    border-color: #2e6da4;
}
.todo-btn-group .btn-default {
    color: #337ab7;
    border-color: #2e6da4;
}
.todo-btn-group .btn-default:active:hover,
.todo-btn-group .btn-default:hover,
.todo-btn-group .btn-default:focus {
    color: #337ab7;
    border-color: #2e6da4;
    background-color: #5bc0de;
}
.todo-progress-slider {
    display: inline-block;
    float: right;
    margin-top: 8px;
}
.todo-progress-slider input[type=range] {
    width: 240px;
}
.button-post {
    position: absolute;
    bottom: 10px;
    right: 8px;
}

@media (min-width: 768px) {
    .select-dropdown {
        margin-top: 8px;
    }
    .label {
        padding: 0px 20px 0px !important;
        font-size: 100% !important;
    }   
}

.select-dropdown {
    width: 120px !important;
    position: relative;
    display: block;
    margin-right: 8px;
    margin-left: 8px;
}
.todo-comment-list {
    margin-top: 8px;
}
.todo-comment {
    padding-left: 16px;
    padding-bottom: 8px;
}
.comment-user {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12pt;
    font-weight: 500;
}
.comment-text {
    font-size: 11pt;
}
.comment-date {
    font-size: 10pt;
    color: lightgray;
}

.button-add {
    margin-bottom: 20px !important;
}

input[type=range] {
    /*removes default webkit styles*/
    -webkit-appearance: none;
    
    /*fix for FF unable to apply focus style bug */
    border: 1px solid white;
    
    /*required for proper track sizing in FF*/
    width: 300px;
}
input[type=range]::-webkit-slider-runnable-track {
    width: 300px;
    height: 18px;
    background: #fff;
    border: 1px solid #337ab7;
    border-radius: 4px;
    margin-top: 4px;
}
input[type=range]::-webkit-slider-thumb {
    -webkit-appearance: none;
    border: none;
    height: 16px;
    width: 24px;
    border-radius: 4px;
    background: #337ab7;
}
input[type=range]:focus {
    outline: none;
}
/*
input[type=range]:focus::-webkit-slider-runnable-track {
    background: #ccc;
}
*/
input[type=range]::-moz-range-track {
    width: 300px;
    height: 18px;
    background: #fff;
    border: none;
    border-radius: 8px;
}
input[type=range]::-moz-range-thumb {
    border: none;
    height: 16px;
    width: 24px;
    border-radius: 4px;
    background: #337ab7;
}

/*hide the outline behind the border*/
input[type=range]:-moz-focusring {
    outline: 1px solid white;
    outline-offset: -1px;
}

input[type=range]::-ms-track {
    width: 300px;
    height: 18px;
    
    /*remove bg colour from the track, we'll use ms-fill-lower and ms-fill-upper instead */
    background: transparent;
    
    /*leave room for the larger thumb to overflow with a transparent border */
    border-color: transparent;
    border-width: 6px 0;

    /*remove default tick marks*/
    color: transparent;
}
input[type=range]::-ms-fill-lower {
    background: #777;
    border-radius: 10px;
}
input[type=range]::-ms-fill-upper {
    background: #ddd;
    border-radius: 10px;
}
input[type=range]::-ms-thumb {
    border: none;
    height: 16px;
    width: 24px;
    border-radius: 4px;
    background: goldenrod;
}
input[type=range]:focus::-ms-fill-lower {
    background: #888;
}
input[type=range]:focus::-ms-fill-upper {
    background: #ccc;
}
