.label {
    padding: 0px 12px 0px !important;
    font-size: 100% !important;
}

.button-group {
    position: absolute;
    right: 8px;
    top: 10px;
}

.list-group-item {
    height: 100%;
    padding-right: 100px !important;
    padding-left: 25px !important;
}
.list-group-item:hover {
    background-color: rgba(229, 243, 247, 0.5);
}
.list-group-item:after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    height: 100%;
    width: 10px;
}
.low-priority:after {
    background-color: #78cd51;
}
.medium-priority:after {
    background-color: #fabb3d;
}
.high-priority:after {
    background-color: #ff4136;
}
.todo-selected {
    background-color:#e2f3f7 !important;
}

.todo-content {
    line-height: 26px;
    cursor: pointer;
}
.todo-text {
    font-size: 14pt;
}
.todo-date {
    font-size: 10pt;
    font-weight: 400;
    color: lightgray;
}
.todo-btn-group {
    margin-top: 8px;
}
.button-post {
    position: absolute;
    bottom: 10px;
    right: 8px;
}

@media (min-width: 768px) {
    .select-dropdown {
        margin-top: 8px;
    }
    .label {
        padding: 0px 20px 0px !important;
        font-size: 100% !important;
    }   
}

.select-dropdown {
    width: 300px !important;
    position: relative;
    display: block;
    margin-right: 8px;
    margin-left: 8px;
}

.todo-comment {
    padding-left: 16px;
    padding-bottom: 8px;
    border-top: 1px solid #e7e7e7;
}
.comment-user {
    padding-top: 4px;
    padding-bottom: 4px;
    font-size: 12pt;
    font-weight: 500;
}
.comment-text {
    font-size: 11pt;
}
.comment-date {
    font-size: 10pt;
    color: lightgray;
}

.button-add {
    margin-bottom: 20px !important;
}
