<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta name="author" content="Yanxi">
    <title>Todo</title>


    <link rel="shortcut icon" type="image/x-icon" href="Assets/Image/favicon.ico">
    <link rel="stylesheet" type="text/css" href="Assets/Style/index.css"></link>
    <link rel="stylesheet" type="text/css" href="Assets/Style/loader.css"></link>
    <link rel="stylesheet" type="text/css" href="Assets/Style/login.css"></link>
    <link rel="stylesheet" type="text/css" href="Assets/Script/bootstrap/css/bootstrap.min.css"></link>
    <link rel="stylesheet" type="text/css" href="Assets/Script/ionicons/css/ionicons.min.css"></link>

    <style>

    </style>
</head>
<body ng-controller="loginController" >
    <!-- Header bar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Back</a>
            </div>
        </div>
    </nav>

    <div class="login-container" >
        <div class="panel panel-default login-block" ng-cloak>
            <div ng-show="err != ''" class="alert alert-danger fade in" ng-cloak>
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{err}}
            </div>
            <label class="text">Username</label>
            <input type="text" class="form-control" name="username" ng-model="username">
            <label class="text">Password</label>
            <input type="password" class="form-control" name="password" ng-model="password">
            <label ng-show="changeMode" class="text">New Password</label>
            <input ng-show="changeMode" type="password" class="form-control" name="newPassword" ng-model="newPassword">
            <div class="login-button" >
                <button ng-show="!changeMode" class="btn btn-primary" id="login-button" ng-click="login()">Login</button>
                <button ng-show="!changeMode" class="btn btn-default pull-right" id="change-button" ng-click="changeMode = true">Change</button>
                <button ng-show="changeMode" class="btn btn-primary" id="commit-button" ng-click="commit()">Commit</button>
                <button ng-show="changeMode" class="btn btn-default pull-right" id="back-button" ng-click="changeMode = false">Back</button>
            </div>
            <div class="link-pane">
                <div class="divider">
                    <div class="divider-line"></div>
                    <div class="divider-text">OR</div>
                </div>
                <a class="btn-link" href="#" ng-click="showCreateDialog()">Create new user</a>
            </div>
        </div>
    </div>

    <!--Placed at the end of the document so the pages load faster-->
    <script src="Assets/Script/angular.min.js"></script>
    <script src="Assets/Script/jquery-2.1.4.min.js"></script>
    <script src="Assets/Script/angular-file-upload.min.js"></script>
    <script src="Assets/Script/bootstrap/js/bootstrap.min.js"></script>
    <script src="js-src/util.js"></script>
    <script src="App/Login/loginController.js"></script>
    <script src="App/Login/Dialog/createDialogController.js"></script>

    <!--Bootstrap angular module at last-->
    <script>
        var app = angular.module('loginApp');
        app.factory('contextService', function() {
            return { context: <%context%> }; 
        });
        angular.bootstrap( document, ['loginApp'] );
    </script>
</body>
</html>
 
