<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="day-app">
    <style>
        .paneContainer {
            margin-top: 32px;
            padding-right: 15px;
            padding-left: 15px;
            margin-right: auto;
            margin-left: auto
        }

        @media (min-width: 768px) {
            .paneContainer {
                width:750px
            }
        }

        @media (min-width: 992px) {
            .paneContainer {
                width:970px
            }
        }

        @media (min-width: 1200px) {
            .paneContainer {
                width:1170px
            }
        }
        weather-pane {
            float: left;
            padding-right: 24px;
            padding-bottom: 24px;
        }
        calendar-pane {
            float: left;
            padding-bottom: 24px;
        }
    </style>

    <template>
        <paper-header-panel mode="standard">
            <paper-toolbar>
                <paper-icon-button icon="home" on-click="goHome"></paper-icon-button>
            </paper-toolbar>
            <div class="paneContainer">
                <weather-pane></weather-pane>
                <calendar-pane></calendar-pane>
            </div>
        </paper-header-panel>
    </template>

    <script>
        Polymer({
            is: "day-app",

            ready: function() {
                this.message = "My first Polymer App!"
            },

            goHome: function() {
                window.location = "/";
            }
        });
    </script>
</dom-module>
