<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="news-pane">
    <template>
        <style>
            paper-card {
                min-width: 450px;
            }
            .card-content {
                min-height: 180px;
            }
            .news-header {
                @apply(--paper-font-headline);
                height: 50px;
            }
            .news-content {
                column-count: 2;
            }
            @media (max-width: 768px) {
                .news-content {
                    column-count: 1;
                }
            }
            .news-source {
                position: absolute;
                top: 4px;
                right: 20px;
            }
            .news-entry {
                padding-bottom: 12px;
                display: inline-block;
            }
            .news-title {
                font-family: times new roman;
                font-size: 18px;
                cursor: pointer;
            }
            .news-title a {
                color: #000;
            }
            .news-time {
                color: #a81817;
            }
            .card-actions {
                height: 50px;
            }
            .card-actions paper-button {
                text-transform: none;
            }
            .ny-times-icon {
                float: right;
                margin-top: 6px;
            }
            .guardians-icon {
                float: right;
            }
        </style>

        <app-globals id="globals"></app-globals>

        <div style="display: flex;">
            <paper-card>
                <div class="card-content">
                    <div class="news-header">News</div>

                    <paper-dropdown-menu label="Source" class="news-source">
                        <paper-listbox class="dropdown-content"
                                       selected="{{source}}" attr-for-selected="value"
                                       on-iron-select="newsSourceChanged" >
                            <paper-item value="[[Sources.NYTimes]]">New York Times</paper-item>
                            <paper-item value="[[Sources.Guardians]]">Guardians</paper-item>
                        </paper-listbox>
                    </paper-dropdown-menu>

                    <div class="news-loading" hidden$="[[newsReady]]">
                        <paper-spinner active hidden$=[[newsNotFound]]></paper-spinner>
                        <span>[[status]]</span>
                    </div>

                    <div class="news-content" hidden$="[[!newsReady]]">
                        <div class="collapse-content">
                            <template is="dom-repeat" items="{{news}}">
                                <div class="news-entry">
                                    <div class="news-title">
                                        <a href="[[item.url]]" target="_blank">[[item.title]]</a>
                                    </div>
                                    <div class="news-time">
                                        {{convertTime(item.created_date)}}
                                    </div>
                                    <div class="news-abstract">
                                        <div>[[item.abstract]]</div>
                                    </div>
                                </div>
                            </template>
                        </div>
                    </div>
                </div>
                <div class="card-actions">
                    <paper-button raised on-click="showMoreNews" hidden$="[[!hasMoreNews]]">
                        Show More
                    </paper-button>

                    <div class="ny-times-icon" hidden$="[[hideSourceLogo(source, Sources.NYTimes)]]">
                        <a href="http://developer.nytimes.com" target="_blank">
                            <img src="http://static01.nytimes.com/packages/images/developer/logos/poweredby_nytimes_150a.png" width="150" height="30"/>
                        </a>
                    </div>
                    <div class="guardians-icon" hidden$="[[hideSourceLogo(source, Sources.Guardians)]]">
                        <a href="http://theguardian.com" target="_blank">
                            <img src="https://static.guim.co.uk/sys-images/Guardian/Pix/pictures/2010/03/01/poweredbyguardianBLACK.png" />
                        </a>
                    </div>
                </div>
            </paper-card>
        </div>

        <iron-ajax
            id="getNews"
            url="/Day/getNews"
            method="POST"
            content-type="application/json"
            handle-as="json"
            on-response="newsResponse"
            debounce-duration="300"></iron-ajax>

    </template>

    <script>
        Polymer({
            is: "news-pane",
            observers: [
                'newsSourceChanged(media)'
            ],

            ready: function() {
                this.Sources = this.$.globals.Sources;
                this.source = this.currentSource = this.Sources.NYTimes;
                this.status = "";
                this.newsReady = false;
                this.newsNotFound = false;
                this.hasMoreNews = false;

                this.getNews();
            },

            getNews: function () {
                this.status = "Getting news...";
                this.hasMoreNews = false;

                var requestBody = {
                    source: this.currentSource
                };

                this.$.getNews.body = requestBody;
                this.$.getNews.generateRequest();
            },

            newsResponse: function(e, data) {
                this.fullResults = data.response.results;
                if (this.fullResults && this.fullResults.length >= 5) {
                    this.news = this.fullResults.slice(0, 5);
                    this.newsReady = true;

                    if (this.fullResults.length > 5) {
                        this.hasMoreNews = true;
                    }
                } else {
                    this.newsNotFound = true;
                    if (data.response.err) {
                        this.status = data.response.err;
                    } else {
                        this.status = "News not found."
                    }
                }
            },

            showMoreNews: function () {
                this.news = this.news.concat(this.fullResults.slice(5, 10));
                this.hasMoreNews = false;
            },

            convertTime: function (originalDate) {
                var date = new Date(originalDate);
                var currentDate = new Date();

                var _pad = function (val, len) {
                    val = String(val);
                    len = len || 2;
                    while (val.length < len) val = "0" + val;
                    return val;
                };

                var dayDiff = Math.ceil((currentDate - date) / (1000 * 60 * 60 * 24));
                if (dayDiff > 1) {
                    return "";
                } else {
                    var minuteDiff = Math.ceil((currentDate - date) / (1000 * 60 ));
                    if (minuteDiff >= 60) {
                        return _pad(date.getHours()) + ":" + _pad(date.getMinutes());
                    } else {
                        return minuteDiff + " minutes ago";
                    }
                }
            },

            newsSourceChanged: function() {
                if (this.currentSource != this.source) {
                    this.currentSource = this.source;
                    this.newsReady = false;
                    this.newsNotFound = false;
                    this.hasMoreNews = false;

                    this.getNews();
                }
            },

            hideSourceLogo: function(source, target) {
                return source != target;
            }
        });
    </script>
</dom-module>
