<link rel="import" href="/bower_components/polymer/polymer.html">

<dom-module id="weather-pane">
    <template>
        <style>
            paper-card {
                width: 450px;
            }
            .card-content {
                min-height: 180px;
            }
            .weather-header {
                @apply(--paper-font-headline);
            }
            .weather-image {
                position: absolute;
                top: 16px;
                right: 16px;
                font-size: 40px;
            }
            .weather-loading {
                margin-top: 32px;
            }
            .weather-loading span {
                margin-left: 8px;
            }
            .weather-content {
                font-size: 16px;
                margin-top: 16px;
            }
            .weather-summary {
                text-align: center;
            }
            .weather-summary .weather-description {
                font-size: 14px;
            }
            .weather-summary .weather-temp {
                font-size: 24px;
                padding-left: 6px;
            }
            .show-forecast {
                margin: 0;
                text-transform: none;
            }
            .collapse-content {
                padding: 16px 0px 4px 16px;
            }
            .forecast-entry {
                position: relative;
                line-height: 36px;
            }
            .forecast-day {
                display: inline-block;
            }
            .forecast-image {
                position: absolute;
                vertical-align: middle;
                left: 184px;
                font-size: 24px;
                margin-top: 5px;
            }
            .forecast-temp {
                position: absolute;
                top: 0;
                right: 8px;
            }
            .forecast-temp div {
                width: 45px;
                display: inline-block;
                text-align: right;
            }
            .card-actions {
                height: 50px;
            }
            .temp-unit {
                margin: 0;
            }
            paper-button.temp-unit .celsius{
                font-weight: 600;
            }
            paper-button.temp-unit[active] .celsius{
                font-weight: 400;
            }
            paper-button.temp-unit .fahrenheit{
                font-weight: 400;
            }
            paper-button.temp-unit[active] .fahrenheit{
                font-weight: 600;
            }
            .yahoo-icon {
                float: right;
                margin-top: 6px;
            }
        </style>

        <app-globals id="globals"></app-globals>

        <div>
            <paper-card>
                <div class="card-content">
                    <div class="weather-header">Weather</div>
                    <i class="weather-image wi" class$="[[imageClass]]"></i>

                    <div class="weather-loading" hidden$="[[weatherReady]]">
                        <paper-spinner active hidden$=[[weatherNotFound]]></paper-spinner>
                        <span>[[status]]</span>
                    </div>

                    <div class="weather-content" hidden$="[[!weatherReady]]">
                        <div class="weather-summary">
                            <div>[[location]]</div>
                            <div class="weather-description">[[condition.text]]</div>
                            <div class="weather-temp">[[temp]]&deg;</div>
                        </div>

                        <paper-button toggles noink raised on-click="forecastToggle" class="show-forecast">Forecast</paper-button>
                        <iron-collapse id="forecastContent">
                            <div class="collapse-content">
                                <template is="dom-repeat" items="{{forecast}}">
                                    <div class="forecast-entry">
                                        <div class=forecast-day>[[item.day]]</div>
                                        <i id="image_{{index}}" class$="[[item.imageClass]]" ></i>
                                        <div class="forecast-temp">
                                            <div>[[item.low]]</div>
                                            <div>[[item.high]]</div>
                                        </div>
                                        <paper-tooltip id="image_{{index}}" position="top">[[item.text]]</paper-tooltip>
                                    </div>
                                </template>
                            </div>
                        </iron-collapse>
                    </div>
                </div>
                <div class="card-actions">
                    <paper-button toggles on-change="CFToggle" class="temp-unit" hidden$="[[!weatherReady]]">
                        <span class="celsius">&#x2103;</span> / <span class="fahrenheit">&#x2109;</span>
                    </paper-button>
                    <div class="yahoo-icon">
                        <a href="https://www.yahoo.com/?ilc=401" target="_blank"> <img src="https://poweredby.yahoo.com/purple.png" width="134" height="29"/></a>
                    </div>
                </div>
            </paper-card>
        </div>

        <iron-ajax
            id="getLocation"
            url="/Day/getCurrentLocation"
            method="POST"
            content-type="application/json"
            handle-as="json"
            on-response="locationResponse"
            debounce-duration="300"></iron-ajax>
        <iron-ajax
            id="getWeatherAuth"
            url="/Day/getWeather"
            method="POST"
            content-type="application/json"
            handle-as="json"
            on-response="weatherResponse"
            debounce-duration="300"></iron-ajax>

    </template>

    <script>
        Polymer({
            is: "weather-pane",

            ready: function() {
                var _this = this;
                _this.WeatherCodes = this.$.globals.WeatherCodes;
                _this.status = "";
                _this.weatherReady = false;
                _this.weatherNotFound = false;
                _this.imageClass = "";
                _this.temp = "";
                _this.tempUnit = "C";

                var _initialize = function() {
                    if (!navigator.geolocation){
                        _this.status = "Geolocation is not supported by your browser";
                    } else {
                        _this.status = "Getting location...";

                        navigator.geolocation.getCurrentPosition(function (position) {
                            var latitude  = position.coords.latitude;
                            var longitude = position.coords.longitude;

                            _this.status = "Getting weather...";
                            _getWeather(latitude, longitude);
                        }, function () {
                            _this.status = "Unable to retrieve your location";
                        });
                    }
                }
                _initialize();

                var _getWeather = function (latitude, longitude) {
                    var requestBody = {
                        latitude: latitude,
                        longitude: longitude
                    };

                    _this.$.getLocation.body = requestBody;
                    _this.$.getLocation.generateRequest();
                }
            },

            locationResponse: function(e, data) {
                var location = data.response.results.formatted_address;
                this.location = location;
                var url = "https://query.yahooapis.com/v1/public/yql?q=select * from weather.forecast where woeid in (select woeid from geo.places(0) where text='" + location + "') and u='c'&format=json";

                this.$.getWeatherAuth.body = { location: this.location };
                this.$.getWeatherAuth.generateRequest();
            },

            weatherResponse: function(e, data) {
                var _this = this;
                var query = data.response.query;
                if (query.count > 0) {
                    var weather = null;
                    if (query.count == 1)
                        weather = query.results.channel;
                    else
                        weather = query.results.channel[0];

                    this.status = weather.description;
                    this.condition = weather.item.condition;
                    this.temp = this.condition.temp;
                    this.originTemp = this.condition.temp;
                    this.forecast = weather.item.forecast;
                    this.forecast.forEach(function(item) {
                        item.originHigh = item.high;
                        item.originLow = item.low;
                        item.imageClass = "forecast-image wi " + "wi-" + _this.WeatherCodes["wi-yahoo-" + item.code];
                    });
                    this.imageClass = "weather-image wi " + "wi-" + this.WeatherCodes["wi-yahoo-" + this.condition.code];
                    this.weatherReady = true;
                } else {
                    this.status = "No weather info";
                    this.weatherNotFound = true;
                }
            },

            CFToggle: function(e, value) {
                var _this = this;
                if (!this.condition)
                    return;

                function _toCelsius(data) {
                    var temp = parseFloat(data);
                    return (Math.floor((temp - 32) / 1.8)).toString();
                };

                function _toFahrenheit(data) {
                    var temp = parseFloat(data);
                    return (Math.floor(temp * 1.8 + 32 )).toString();
                };

                if (this.tempUnit == "F") {
                    this.tempUnit = "C";
                    this.temp = this.originTemp;
                    this.forecast.forEach(function(item) {
                        item.high = item.originHigh;
                        item.low = item.originLow;
                    });
                    var newForecast = $.extend(true, [], this.forecast);
                    this.notifyPath('forecast', newForecast);
                } else {
                    this.tempUnit = "F";
                    this.temp = _toFahrenheit(this.originTemp);
                    this.forecast.forEach(function(item) {
                        item.high = _toFahrenheit(item.originHigh);
                        item.low = _toFahrenheit(item.originLow);
                    });
                    var newForecast = $.extend(true, [], this.forecast);
                    this.notifyPath('forecast', newForecast);
                }
            },

            forecastToggle: function() {
                this.$.forecastContent.toggle();
            }

        });
    </script>
</dom-module>
