<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta name="author" content="Yanxi">
    <title>Album</title>


    <link rel="shortcut icon" type="image/x-icon" href="Assets/Image/favicon.ico">
    <link rel="stylesheet" type="text/css" href="Assets/Style/album.css"></link>
    <link rel="stylesheet" type="text/css" href="Assets/Style/index.css"></link>
    <link rel="stylesheet" type="text/css" href="Assets/Style/loader.css"></link>
    <link rel="stylesheet" type="text/css" href="Assets/Script/bootstrap/css/bootstrap.min.css"></link>

    <style>

    </style>
</head>
<body ng-controller="albumAppController"  ng-class="{ 'container-hide': dialogOpened() }">
    <!-- Header bar -->
    <nav class="navbar navbar-default album-header">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/" data-toggle="tooltip" data-placement="bottom" title="Home"><span class="glyphicon glyphicon-home" ></span></a>
            </div>
            <div class="collapse navbar-collapse" ng-model="smallWindow" id="bs-navbar-collapse" ng-cloak>
                <ul class="nav navbar-nav"> 
                    <li><a href="/Todo">Todo</a></li>
                </ul>
                <ul class="nav navbar-nav navbar-right"> 
                    <!-- Before login -->
                    <li ng-show="!loggedIn" class="action-button" ng-cloak>
                        <a href="/Album-Admin" data-toggle="tooltip" data-placement="bottom" title="Login"><span class="glyphicon glyphicon-log-in"></span></a>
                    </li>

                    <!-- After login-->
                    <li ng-show="loggedIn && selectMode" class="action-button" ng-cloak>
                        <a href="#" ng-click="downloadPhotos()" data-toggle="tooltip" data-placement="bottom" title="Download"><span class="glyphicon glyphicon-download"></span></a>
                    </li>
                    <li ng-show="loggedIn && selectMode" class="action-button" ng-cloak>
                        <a href="#" ng-click="showDeleteDialog()" data-toggle="tooltip" data-placement="bottom" title="Delete"><span class="glyphicon glyphicon-trash"></span></a>
                    </li>
                    <li ng-show="loggedIn" class="action-button" ng-cloak>
                        <a href="#" ng-show="!editMode" ng-click="toggleEditMode()" data-toggle="tooltip" data-placement="bottom" title="Edit" ><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="#" ng-show="editMode" ng-click="toggleEditMode()" data-toggle="tooltip" data-placement="bottom" title="Ok"><span class="glyphicon glyphicon-check"></span></a>
                    </li>
                    <li ng-show="loggedIn && !editMode" class="action-button" ng-cloak>
                        <a href="#" ng-click="showUploadDialog()" data-toggle="tooltip" data-placement="bottom" title="Upload"><span class="glyphicon glyphicon-upload"></span></a></li>
                    <li ng-show="loggedIn" class="dropdown" ng-cloak>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ng-cloak >{{user}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Album-Logout">Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div ng-repeat="photo in photoData" class="panel panel-default photo-canvas pull-left" 
             ng-context-menu="{{photo._id}}" >
            <div ng-preview="{ id: photo._id, height: 200 }" ng-click="showDetailDialog(photo)" 
                 ng-mouseenter="dateToggle(photo)" ng-mouseleave="dateToggle(photo)"
                 class="photo-canvas-image"></div>
            <div ng-show="photo.showDate" class="photo-date-container" ng-cloak
                 ng-mouseenter="photo.showDate = true" ng-mouseleave="photo.showDate = false">
                
                <div class='photo-date-backlay'>
                    {{getPreviewDate(photo.date)}} 
                </div>
            </div>
            <div ng-show="editMode" class="input-checkbox" ng-cloak>
                <label>
                    <span ng-if="photo.selected" class="glyphicon glyphicon-check"></span>
                    <span ng-if="!photo.selected" class="glyphicon glyphicon-unchecked"></span>
                    <input type="checkbox" name="select" ng-model="photo.selected" ng-change="selectCheck(photo)">
                </label>
            </div>
        </div>
    </div>

    <iframe id="downloadIFrame" src="javascript:false" style="height: 1px; width: 1px; visibility: hidden; position: absolute;"></iframe>

    <!--Placed at the end of the document so the pages load faster-->
    <script src="Assets/Script/angular.min.js"></script>
    <script src="Assets/Script/jquery-2.1.4.min.js"></script>
    <script src="Assets/Script/angular-file-upload.min.js"></script>
    <script src="Assets/Script/bootstrap/js/bootstrap.min.js"></script>
    <script src="js-src/util.js"></script>
    <script src="App/Album/albumAppController.js"></script>
    <script src="App/Album/Dialog/uploadDialogController.js"></script>
    <script src="App/Album/Dialog/deleteDialogController.js"></script>
    <script src="App/Album/Dialog/detailDialogController.js"></script>
    <script src="App/Album/Dialog/downloadDialogController.js"></script>
    <script src="App/Album/Dialog/editDialogController.js"></script>

    <!--External resources-->
    <script src="https://maps.googleapis.com/maps/api/js?v=3.exp&signed_in=true"></script>

    <!--Bootstrap angular module at last-->
    <script>
        angular.bootstrap( document, ['albumApp'] );
    </script>
    
    <!-- Initialize tooltip-->
    <script>
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip();   
        });
    </script>
</body>
</html>

