<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta name="author" content="Yanxi">
    <title>Album</title>


    <link rel="shortcut icon" type="image/x-icon" href="Assets/Image/favicon.ico">
    <link rel="stylesheet" type="text/css" href="Assets/Style/album.css"></link>
    <link rel="stylesheet" type="text/css" href="Assets/Style/index.css"></link>
    <link rel="stylesheet" type="text/css" href="Assets/Style/loader.css"></link>
    <link rel="stylesheet" type="text/css" href="Assets/Script/bootstrap/css/bootstrap.min.css"></link>

    <style>

    </style>
</head>
<body ng-controller="albumAppController"  ng-class="{ 'container-hide': dialogOpened() }">
    <!-- Header bar -->
    <nav class="navbar navbar-default album-header">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-navbar-collapse" >
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
                <a class="navbar-brand" href="/"><span class="glyphicon glyphicon-home" ></span></a>
            </div>
            <div class="collapse navbar-collapse" ng-model="smallWindow" id="bs-navbar-collapse">
                <ul class="nav navbar-nav navbar-right"> 
                    <li ng-if="!loggedIn" class="action-button">
                        <a href="/Album-Admin"><span class="glyphicon glyphicon-edit"></span></a>
                    </li>
                    <li ng-if="!loggedIn" class="action-button">
                        <a href="/Album-Admin"><span class="glyphicon glyphicon-upload"></span></a>
                    </li>
                    <li ng-if="loggedIn && deleteMode" class="action-button">
                        <a href="#" ng-click="deletePhotoByIds()"><span class="glyphicon glyphicon-trash"></span></a>
                    </li>
                    <li ng-if="loggedIn" class="action-button">
                        <a href="#" ng-if="!editMode" ng-click="toggleEditMode()"><span class="glyphicon glyphicon-edit"></span></a>
                        <a href="#" ng-if="editMode" ng-click="toggleEditMode()"><span class="glyphicon glyphicon-check"></span></a>
                    </li>
                    <li ng-if="loggedIn" class="action-button">
                        <a href="#" ng-click="toggleUploadDialog()"><span class="glyphicon glyphicon-upload"></span></a></li>
                    <li ng-if="loggedIn" class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" ng-cloak >{{user}} <span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="/Album-Logout">Logout</a></li>
                        </ul>
                    </li>

                </ul>
            </div>
        </div>
    </nav>

    <div class="container">
        <div ng-repeat="photo in photoData" class="panel panel-default photo-canvas pull-left" >
            <div ng-preview="{ id: photo._id, height: 200 }" ng-click="toggleDetailDialog(photo)" class="photo-canvas-image"></div>
            <div ng-show="editMode" class="input-checkbox">
                <label>
                    <span ng-if="photo.toDelete" class="glyphicon glyphicon-check"></span>
                    <span ng-if="!photo.toDelete" class="glyphicon glyphicon-unchecked"></span>
                    <input type="checkbox" name="delete" ng-model="photo.toDelete" ng-change="deleteCheck(photo)">
                </label>
            </div>
        </div>
    </div>

    <upload-dialog ng-if="showUploadDialog" class="modal-dialog" ng-controller="uploadDialogController"></upload-dialog>
    <detail-dialog ng-if="showDetailDialog" class="modal-dialog detail-dialog" ng-controller="detailDialogController"></detail-dialog>

    <!--Placed at the end of the document so the pages load faster-->
    <script src="Assets/Script/angular.min.js"></script>
    <script src="Assets/Script/jquery-2.1.4.min.js"></script>
    <script src="Assets/Script/angular-file-upload.min.js"></script>
    <script src="Assets/Script/bootstrap/js/bootstrap.min.js"></script>
    <script src="App/Album/albumAppController.js"></script>

    <!--Bootstrap angular module at last-->
    <script>
        angular.bootstrap( document, ['albumApp'] );
    </script>
</body>
</html>

