<div class='ng-modal'>
    <div class='ng-modal-overlay' ng-click='cancel()'></div>
    <div class='ng-modal-dialog' ng-style='dialogStyle'>
        <div class="ng-modal-dialog-header">
            <div class="ng-modal-dialog-header-text">Detail</div> 
            <div class='ng-modal-close' ng-click='cancel()'>
                <span class="glyphicon glyphicon-remove" ></span>
            </div>
        </div>
        <div class='ng-modal-dialog-content detail-content'>
            <div class="detail-photo-canvas">
                <div ng-image="{ id: currentPhoto._id, width: 640 }"></div>
            </div>
            <div class="detail-metadata">
                <div>
                    <div>Name:</div>
                    <div>{{currentPhoto.name}}</div>
                <div>   
                <div>
                    <div>Posted by:</div>
                    <div>{{currentPhoto.user}}</div>
                <div>   
                <div>
                    <div>Date:</div>
                    <div>{{getDate(currentPhoto.date)}}</div>
                <div>   
            </div>
        </div>

        <div class="ng-modal-dialog-footer">
            <button class="btn btn-primary" ng-click="ok()">OK</button>
            <button class="btn btn-default" ng-click="cancel()">Cancel</button>
        </div>
    </div>
</div>
