<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="initial-scale = 1.0,maximum-scale = 1.0" />
    <meta name="author" content="Yanxi">
    <title>Todo</title>


    <link rel="shortcut icon" type="image/x-icon" href="Assets/Image/favicon.ico">
    <link rel="stylesheet" type="text/css" href="Assets/Style/login.css"></link>
    <link rel="stylesheet" type="text/css" href="Assets/Script/bootstrap/css/bootstrap.min.css"></link>

    <style>

    </style>
</head>
<body ng-controller="loginController" >
    <!-- Header bar -->
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <!-- Brand and toggle get grouped for better mobile display -->
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Back</a>
            </div>
        </div>
    </nav>

    <div class="login-container" >
        <div class="panel panel-default login-block">
            <div ng-show="err" class="alert alert-danger fade in" >
                <a href="#" class="close" data-dismiss="alert" aria-label="close">&times;</a>
                {{err}}
            </div>
            <label class="text">Username</label>
            <input type="text" name="username" ng-model="username">
            <label class="text">Password</label>
            <input type="password" name="password" ng-model="password">
            <div class="login-button" >
                <button class="btn btn-primary" id="login-button" ng-click="login()">Login</button>
            </div>
        </div>
    </div>

    <!--Placed at the end of the document so the pages load faster-->
    <script src="Assets/Script/angular.min.js"></script>
    <script src="Assets/Script/jquery-2.1.4.min.js"></script>
    <script src="Assets/Script/angular-file-upload.min.js"></script>
    <script src="Assets/Script/bootstrap/js/bootstrap.min.js"></script>
    <script src="App/Album/albumAppController.js"></script>

    <!--Bootstrap angular module at last-->
    <script>
        angular.bootstrap( document, ['albumApp'] );
    </script>
</body>
</html>
 
